<html>
    <head>
        <title>Your Price vs. Your Competitor's Price</title>
        
        <script type="text/javascript" src="fusioncharts/fusionCharts.js"></script>
<div class="tester">  
    </head>
        
    <body>
<h2 class="midz"><b>Final Comparison Tool</b></h2>
<p><b>Once you have your final price ranges, the final step is to compare how your calcuated prices compare to those of your competitors. This final tool allows you to compare your final cost-plus based price, value-based price, an average between the two, and three prices of various competitors.</b></p>
<p><b>Simple enter your prices in whole numbers (with or without decimals) into the appropriate input field without any symbols (such as $ signs) and click on the Display button.</b></p>
        
        <span class="costplus">Your Cost-Plus Based Price  <input type='text' size='8' id='cost' value=''/> </span>
        <br/>
        <span class="valuebased">Your Value-Based Price  <input type='text' size='8' id='value' value=''/> </span>
        <br/>
        <span class="competitor">Competitor #1 Price  <input type='text' size='8' id='competitor' value=''/> </span>
        <br/>
        <span class="competitors">Competitor #2 Price  <input type='text' size='8' id='competitors' value=''/> </span>
        <br/>
        <span class="competitores">Competitor #3 Price  <input type='text' size='8' id='competitores' value=''/> </span>
        <br/>
        <input class="righty" name="button" type='button' value='Display' onclick="chartIt();" />
        <br/>
        <br/>
        <div id="chartContainer" class="last"></div>
        
   <script type="text/javascript">
        
        function chartIt()
                {
                  // retrieving Form data
                  var costSales = document.getElementById("cost").value;
                  var valueSales = document.getElementById("value").value;
                  var a = parseFloat(costSales);
                  var b = parseFloat(valueSales);
                  var averageSales = ((a + b) / 2).toFixed(2);
                  var competitorSales = document.getElementById("competitor").value;
                  var competitorZales = document.getElementById("competitors").value;
                  var competitorNales = document.getElementById("competitores").value;

                                
                  // creating chart data from Form data
                  var chartXMLData = "";
                  chartXMLData += "<chart caption='Comparing Your Price' subCaption='Your price vs. competitors' >";
                  chartXMLData += "<set label='Cost-Plus Price' value='" + costSales + "' />";
                  chartXMLData += "<set label='Value-Based Price' value='" + valueSales + "' />";
                  chartXMLData += "<set label='Your Average Price' value='" + averageSales + "' />";
                  chartXMLData += "<set label='Competitor1 Price' value='" + competitorSales + "' />";
                  chartXMLData += "<set label='Competitor2 Price' value='" + competitorZales + "' />";
                  chartXMLData += "<set label='Competitor3 Price' value='" + competitorNales + "' />";
                  chartXMLData += "</chart>";
                                
                  //rendering the chart 
                  var myChart = new FusionCharts( "../../Charts/Bar2D.swf", "myChartId", "550", "320", "0", "1" );
                  myChart.setXMLData( chartXMLData );
                  myChart.render( "chartContainer" );
             }
    </script>
        
    </div>
</div>
    </body>
</html>