<div class="test">
	<h2 style="text-align: center"><b>Final Comparison Tool</b></h2>

<form style="font-size: 12; font-weight: bolder">
	
		Final Cost-Plus Markup Price: <input style="margin-left: 107px" type="text" ng-model="first" />
		<br>
		Final Value-Based Price: <input style="margin-left: 138px" type="text" ng-model="second"/>
		<br>
		Average of Cost-Plus and Value-Based Prices: <input style="margin-left: 13px" type="text" ng-model="third"/>
		<br/>
		Competitors Price: <input style="margin-left: 170px" type="text" ng-model="fourth"/>
		<button style="float: right" ng-click="drawBarColors()">Display</button>
</form>

<div id="chart_div"></div>




</div>