<div class="test">
	<h2 style="font-size: 25; text-align: center"><b>Finding Prices through Mathematical Calculation</b></h2>
	<br/>
<p style="font-size: 14; text-align: justify"><b>There are several different ways to calculate prices when considering factors, such as costs, profit margin, demand, volume, and value. This tool provides a number of different calculators to help establish prices when considering these different variables. Each calculator can be accessed by clicking on one of the buttons below, or by clicking on the appropriate link in the navigation bar at the top of the page.</b></p>
<br/>
<span><button style="background: #d93f34; color: #ffffff; font-size: 18; margin-left: 120px" ui-sref="state3">Cost Calculator</button></span>
<span><button style="background: #d93f34; color: #ffffff; font-size: 18; margin-left: 14px" ui-sref="hahdhkdd">Margin Calculator</button></span>
<span><button style="background: #d93f34; color: #ffffff; font-size: 18" ui-sref="state9">Break-even Point</button></span>
<span><button style="background: #d93f34; color: #ffffff; font-size: 18; margin-left: 39px" ui-sref="state8">Value Calculator</button></span>
<br/>
<span><button style="background: #d93f34; color: #ffffff; font-size: 18; margin-left: 120px" ui-sref="state10">Volume Predictor</button></span>
<span><button style="background: #d93f34; color: #ffffff; font-size: 18" ui-sref="sdfhsksh">Effect of Demand</button></span>
<span><button style="background: #d93f34; color: #ffffff; font-size: 18; margin-left: 1px" ui-sref="sjfkjslje">Final Price Calculator</button></span>
<span><button style="background: #d93f34; color: #ffffff; font-size: 18" ui-sref="sjfsljsj">Final Comparison</button></span>
<br/>
<br/>
<br/>
<br/>
<span style=" text-align: center"><button class="one" style="vertical-align: center; margin-left: 330px" ui-sref="state1">Return to Overview</button></span>
<br/>
<br/>
</div>