<div class="test">
	<p style="font-size: 14"><b><i>It is important to note that although this tool employs several different methods to determine price, they are in no way the only ways to price products! The methods used simply represent different options to simply the process. Each pricing situation is different, and should be analyzed on a case-by-case basis.</i></b></p>
	<p>With that said, this tool will attempt to assist the user in finding the best possible price for a product they are looking to sell in two main ways; (1) Price Comparsions, and (2) Finding Prices through Mathematical Calculation.</p>
		<h2 style="font-size: 25; text-align: center"><b>Price Comparisons</b></h2>
	<br/>
	<p>Competitive pricing is one of the most widely used strategies used by major businesses. Vendors use a competitive pricing strategy when several other businesses sell the same product and there is little to distinguish one vendor from another. A market leader will generally set the price for the product and other vendors will usually have no option but to follow suit in order to remain competitive. Vendors will either match the pricing of the market leader or set prices within a comparable range.</p>
	<p>This application offers two main comparison tools, each of which can be accessed by clicking on the following buttons, or by clicking on the appropriate link in the top navigation bar.</p>
	<span style=" text-align: center"><button class="one" style="vertical-align: center; margin-left: 300px" ui-sref="state6">Walmart Comparision Tool</button></span>
	<span style=" text-align: center"><button class="one" style="vertical-align: center; margin-left: 300px" ui-sref="state7">Food Price Comparison Tool</button></span>
	<span style="float: right"><button style="background: #d93f34; color: #ffffff; font-size: 14" ui-sref="state5">Click to Continue</button></span>
	<br/>
	<br/>
</div>