<div class="testy">
	<h3 class="midz"><b>Food Price Comparison Tool</b></h3>
	<p class="fourteen"><b>In addition to the many retail products that are sold, one of the biggest products sold throughout the world is food. This tool displays an average price of food products sold throughout the major retail grocery stores in the country, such as Kroger, Safeway, and Wenco.</b></p>
	<p class="fourteen"><b>To use the tool, simply enter the name of the product you are looking for in the field below, and click the Search button, or hit enter.</b></p>
<img class="kroger" src="images/Kroger.png">
<img class="safeway" src="images/Safeway.png">
	<form>
        <input class="inx" ng-model="query" placeholder="Enter Product" />
        <button ng-click="findProducts()">Search</button>
      </form>
      <table class="table table-bordered">
      	<thead class="hd">
      		<tr>
      			<th><b>Product</b></th>
      			<th><b>Image</b></th>
      			<th><b>Price</b></th>
      		</tr>
      	</thead>
      <tbody>
      	<tr ng-repeat = "product in products | limitTo: 15">
      		<td class="td">{{product.Itemname}}</td>
      		<td class="tdd"><img ng-src="{{product.ItemImage}}"></td>
      		<td class="tddd">{{product.Pricing | currency}}</td>
      	</tr>
     </tbody>
     </table>
<br/>
<br/>
<br/>
      

    </div>