<div class="test">
	<h2 class="midz"><b>Margin Calculator</b></h2>

<p class="eight">When talking about the concept of "margin" in pricing, there are two main areas: gross profit margin and net profit margin. The main difference between the two is that net profit margin takes into account ALL business expenses, whereas gross profit margin only considers revenue and gross profit.Profit margin basically refers to the percentage of the selling price that is profit.</p>
<p class="eight">It's important to note that profit margin is unique to both businesses and industries. Therefore, one cannot simply shoot for a desired average. To show the range of gross profit margins, consider that a retail grocery store operates with a gross profit margin of around 25 percent, while a small jewelry store can operate at a gross profit margin level of around 50 percent.</p>
<p class="eight">Gross profits margins in the pharmaceutical industry typically range from 50 to 100 percent, and in the textile manufacturing industry margins average around 40 to 45 percent, but most major retailers only have a gross profit margin in the 20 to 30 percent range. The average independent restaurant has a gross profit margin of around 58 percent. The top 25 biotechnology companies with the highest gross profit margins all had margins of at least 80 percent, and the top 10 all had margins of greater than 92 percent. Because this is the case, 30 percent may be a good margin in one industry and for one company, but not for another. Typically, companies look at industry norms and previous company financial performance when setting gross margin goals.</p>
<p class="eight">Because gross profit margin can fluctuate so much, it is vitally important in the pricing equation for a number of reasons:</p>
	<ol class="eight" type="A">
		<li class="real">While both net and gross profit margin are a measure of the company's overall financial health, Gross profit margin serves as the source for predicting additional expenses and future savings.</li>
		<li class="real">Gross profit margin is the basis of everything. Gross margin contributes to your net margin success, since you first need gross profit to ultimately achieve a net profit.</li>
		<li class="real">The MOST IMPORTANT thing that knowing your gross profit margin does is to provide you with the foundation to ultimately calculate your final markup price if you are using cost-based pricing! Once you know your gross margin percentage, you can then find out the best markup percentage for your product. This will be shown in the Final Price Calculator.</li>
	</ol>
<p> Another advantage of gross profit margin is it is extremely easy to determine. Simply enter the numbers (with or without decimals) without symbols ($15.43 would simply be entered as 15.43) into the appropriate input box and click on Calculate or hit enter. For example,if your purchase $10,000 worth of goods (first box), and then you sell them for $11,800 (second box). It's important to note that this is GROSS profit, and does not account for expenses or taxes like net profit margin does.</p>
	<form class="twelve">
	
		Total purchase cost of goods: <input class="goods" type="text" ng-model="first" />
		<br>
		Total GROSS profit from the sale of these goods: <input class="gross" type="text" ng-model="second"/>
		<br/>
		<br/>
		<audio id="sound1" src="images/Sound.wav" preload="auto"></audio>
		<button class="right" ng-click="sum()">Calculate</button>
		<p class="totalcost"><b>Gross Profit Margin: {{answer | number:0}}%</b></p>
	</form>
	
</div>