<div class="test">
	<h3 class="midz"><b>Finding Prices through Mathematical Calculation</b></h3>
	<br/>
<p class="just"><b>There are several different ways to calculate prices when considering factors, such as costs, profit margin, demand, volume, and value. This tool provides a number of different calculators to help establish prices when considering these different variables. Each calculator can be accessed by clicking on one of the buttons below, or by clicking on the appropriate link in the navigation bar at the top of the page.</b></p>
<br/>
<span><button class="cost" ui-sref="cost1">Cost Calculator</button></span>
<span><button class="margin" ui-sref="margin1">Margin Calculator</button></span>
<span><button class="break" ui-sref="break1">Break-even Price</button></span>
<span><button class="value" ui-sref="value1">Value Calculator</button></span>
<br/>
<span><button class="volume" ui-sref="volume1">Volume Predictor</button></span>
<span><button class="dmn" ui-sref="demand1">Effect of Demand</button></span>
<span><button class="mark" ui-sref="markup1">Markup Price Calculator</button></span>
<span><button class="comp" ui-sref="compare1">Final Comparison Tool</button></span>
<br/>
<br/>
<br/>
<span class="midz"><button class="one" ui-sref="overview1">Return to Overview</button></span>
<br/>
<br/>
</div>