<div class="test">
<h1 style="text-align: center; font-size: 16"><b><u>The Different Methods of Pricing Products</u></b></h1>
<p>{{ list1 }}</p>
<ul>
	<li style="font-size: 16; color: blue"><u><b>{{ list2 }}</b></u></li>
</ul>
<p>{{ list3 }}</p>
<ul>
	<li style="font-size: 16; color: blue"><u><b>{{ list4 }}</b></u></li>
</ul>
<p>{{ list5 }}</p>
<p>In addition, there are also other factors which come into play, such as:</p>
<ul style="list-style-type: square">
	<li><b>Profit Margin</b></li>
	<li><b>Price Elasticity/Demand</b></li>
	<li><b>Competitors Prices</b></li>
	<li><b>Volume</b></li>
</ul>
<span style=" text-align: center"><button class="one" style="vertical-align: center" ui-sref="state3">Click to Continue</button></span>
</div>

