 <div class="tests">
	<h3 style="text-align: center"><b>Walmart Comparison Tool</b></h3>
	<p style="font-size: 12"><b>When comparing retail products, one of the best places to start is with the world's biggest retailer-Walmart. Walmart is the world's largest company by revenue, according to the Fortune Global 500 list in 2014, as well as the biggest private employer in the world with 2.2 million employees. In addition, since 1998 Walmart is also the most profitable retailer in the U.S. So when you are trying to find the lowest competitor price, the odds are that it can be found at Walmart.</b></p>
	<p style="font-size: 12"><b>To use the tool, simply enter the name of the product you are looking for in the field below, and click the Search button, or hit enter.</b></p>
<img src="images/walmart.jpg" style="float:right;position: relative; margin:5px 0px 20px 0px; cursor:pointer; cursor:hand; border:1" width="200" height="95">
	<form>
        <input style="margin-left: 300px; margin-top: 50px" ng-model="query" placeholder="Enter Product" />
        <button ng-click="findProducts()">Search</button>
      </form>
      <table class="table table-bordered">
      	<thead style="background-color: E44424">
      		<tr>
      			<th><b>Product</b></th>
      			<th><b>Image</b></th>
      			<th><b>Price</b></th>
      		</tr>
      	</thead>
      <tbody>
      	<tr ng-repeat = "product in products">
      		<td style="background-color: #D9853B; width: 94%; position: relative">{{product.name}}</td>
      		<td style="background-color: white; width: 5%; position: relative"><img ng-src="{{product.thumbnailImage}}"></td>
      		<td style="background-color: #A8CD18; width: 1%; position: relative">{{product.salePrice | currency}}</td>
      	</tr>
     </tbody>
     </table>
<br/>
<br/>
<br/>
      

    </div>