body  {
  background: url('images/Moneybackground.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  font-color: black;
}

.compare {
  font-size: 8";
}

.mid {
  text-align: center;
}

.mids {
  text-align: center;
  font-size: 14;
}

.midz {
  text-align: center;
}

.smz {
  font-size: 2;
}

.lst {
  font-size: 16;
  color: blue
}

.lsz {
  list-style-type: square;
  font-size: 18
}

.line {
  border-style: double;
  border-color: black; 
  font-weight: 4em
}

.super {
  position: fixed;
  top: 88px;
  left: 0;
  border: 0;
  width: 110px;
  height: 95px;
}

.profit {
  position: fixed;
  top: 88px;
  right: 0;
  border: 0;
  width: 110px;
  height: 95px;
}

.group {
  position: fixed;
  bottom: 0;
  left: 0;
  border: 0;
  width: 110px;
  height: 58px;
}

.phone {
  position: fixed;
  bottom: 0;
  right: 0;
  border: 0;
  width: 110px;
  height: 80px;
}

.ui {
  position: center; 
  text-align: center;
  margin-left: 5px;
}

.fourteen {
  font-size: 14;
}

.midds {
  position: center;
  text-align: center;
}

.continue {
  float: right;
  color: #ffffff;
  font-size: 14
}

.just {
  font-size: 14; 
  text-align: justify;
}

.cost {
  background: #d93f34;
  color: #ffffff; font-size: 18;
  margin-left: 120px
}

.margin {
  background: #d93f34;
  color: #ffffff;
  font-size: 18; 
  margin-left: 12px
}

.break {
  background: #d93f34;
  color: #ffffff;
  font-size: 18;
  margin-left: 20px;
}

.value {
  background: #d93f34;
  color: #ffffff;
  font-size: 18;
  margin-left: 41px
}

.volume {
  background: #d93f34;
  color: #ffffff;
  font-size: 18;
  margin-left: 120px
}

.dmn {
  background: #d93f34;
  color: #ffffff;
  font-size: 18
}

.comp {
  background: #d93f34;
  color: #ffffff;
  font-size: 18;
  margin-left: 1px
}

.mark {
  background: #d93f34;
  color: #ffffff;
  font-size: 18;
  margin-left: 1px
}

.clr {
  background: #d93f34;
}

.box {
    width: 375px;
    height: 100px;
    font-size: 18;
    padding-left: 5px;
    padding-right: 5px;
    border: 5px solid navy;
    background-color: lightgrey;
    text-align: justify;
    position: relative;
    margin-left: 340px;
    margin-right: 1470px;
    margin-bottom: center;
    margin-top: center;
    
} 

.walmart {
  float:right;
  position: relative; 
  margin:5px 0px 20px 0px; 
  cursor:pointer; 
  cursor:hand; border:1" 
  width: 300px;
  height: 100px;
}

.overview {
  text-align: justify;
  font-size: 12;
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px 400px 0 400px;
  vertical-align: center;
  float: center;
  position: absolute;
  padding-top: 2x;
  padding-bottom: 10px;
  background-color: tan;

}

.td {
  background-color: #D9853B;
  width: 94%; 
  position: relative
}

.tdd {
  background-color: white;
  width: 5%;
  position: relative
}

.tddd {
  background-color: #A8CD18;
  width: 1%;
  position: relative
}

.kroger {
  float:right;
  position: relative;
  margin:5px 0px 20px 0px;
  cursor:pointer;
  cursor:hand; border:1" 
  width: 400px; 
  height: 100px;
}

.safeway {
  float:left;
  position: relative;
  margin:5px 0px 20px 0px;
  cursor:pointer; 
  cursor:hand;
  border:1" 
  width: 200px;
  height: 95px;
}

.hd {
  background-color: #E44424
}

p.ten {
  font-size: 10;
}

.twelve {
  font-size: 12;
  font-weight: bolder;
}

.inp {
  margin-left: 300px;
  margin-top: 50px;
}

.inx {
  margin-left: 150px;
  margin-top: 50px;
}

.message, .messages {
  margin-bottom: 10px;
}

.remove {
  display: inline-block;
  margin-left: 10px;
}

.navbar-nav > li{
  margin-left:0px;
  margin-right:0px;
  margin-top: 0px;
  margin-bottom: -20px;
  line-height: -1em;
  display: inline-block;
  text-align: right;
}

h1 {
  text-align: center;
}

.mat {
  margin-left: 108px;
}

.lab {
  margin-left: 88px;
}

.over {
  margin-left: 64px;
}

.right {
  float: right;
}

.real {
  color: #ff0000;
  font-size: 9;
}

.totalcost {
  text-align: center;
  font-size: 16;
}

.typea {
  font-size 10;
  type: A;
}

.secondb {
  margin-left: 144px;
}

.pricesup {
  margin-left: 46px;
}

.priceinf {
  margin-left: 3px;
}

.fixed {
  margin-left: 80px;
}

.level {
  margin-left: 5px;
}

.vcost {
  margin-left: 33px;
}

.net {
  margin-left: 9px;
}

.fixedz {
  margin-left: 70px;
}

.sales {
  margin-left: 36px;
}

.vvcost {
  margin-left: 23px;
}

.google {
  margin-left: 30px;
  width: 310px;
  height: 70px
}

.uxt {
  margin-left: 90px;
}

.logout {
  margin-left: 50px;
  margin-bottom: 60px;
  border-bottom: 30px;
}

.oproduct {
  margin-left: 21px;
}

.oprice {
  margin-left: 38px;
}

.nproduct {
  margin-left: 6px;
}

.nprice {
  margin-left: 16px;
}
.eight {
  font-size: 8;
}

.goods {
  margin-left: 141px;
}

.gross {
  margin-left: 15px;
}

.breake {
  margin-left: 107px;
}

.dumb {
  margin-left: 10px;
}

.costplus {
  margin-left: 15px;
  font-size: 11;
}

.valuebased {
  margin-left: 42px;
  font-size: 11;
}

.competitor {
  margin-left: 66px;
  font-size: 11;
}

.competitors {
  margin-left: 66px; 
  font-size: 11;
}

.competitores {
  margin-left: 66px;
  font-size: 11;
}

.righty {
  font-size: 11;
  float: right;
}

.last {
  margin-left: 200px;
}

.test {
    width: 925px;
    font-size: 6;
    padding-left: 3px;
    padding-right: 5px;
    font-weight: bolder;
    border: 5px solid navy;
    margin: 25px;
    background-color: #C5EFFD;
    text-align: justify;
    position: relative;
    margin-left: 45px;
    margin-right: 100px;
    margin-bottom: center;
    margin-top: 0px;
}

.tester {
    width: 925px;
    font-size: 12;
    padding-left: 3px;
    padding-right: 5px;
    font-weight: bolder;
    border: 5px solid navy;
    margin: 25px;
    background-color: #C5EFFD;
    text-align: justify;
    position: relative;
    margin-left: 45px;
    margin-right: 100px;
    margin-bottom: center;
    margin-top: 0px;
  }

.smaller {
  font-weight: bolder;
  font-size: 12;
}

.tests {
    width: 925px;
    font-size: 18;
    padding-left: 5px;
    padding-right: 5px;
    border: 5px solid navy;
    margin: 25px;
    background-color: #67BCD8;
    text-align: justify;
    position: relative;
    margin-left: 45px;
    margin-right: 100px;
    margin-bottom: center;
    margin-top: 0px;
}

.testy {
    width: 925px;
    font-size: 18;
    padding-left: 5px;
    padding-right: 5px;
    border: 5px solid navy;
    margin: 25px;
    background-color: lightgrey;
    text-align: justify;
    position: relative;
    margin-left: 45px;
    margin-right: 100px;
    margin-bottom: center;
    margin-top: 0px;
}

nav {
height: 87px;
width:100%;
padding: 0px;
padding-top: 0px;
padding-bottom: 20px;
line-height: 0;
margin-top: 0px;
margin-bottom: 600px;
background-color: red;

}


p {
  font-size: 9;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.first {
	position: fixed;
	right: 10px;
	top: center;
  bottom: 300px;
	-webkit-border-radius: 25;
  	-moz-border-radius: 25;
  	border-radius: 37px;
  	font-family: Arial;
  	color: #ffffff;
  	font-size: 20px;
  	background: #d93f34;
  	padding: 10px 20px 10px 50px;
  	text-decoration: none;
}

.first:hover {
  	background: #fcdc3c;
  	text-decoration: none;
}

.one {
	-webkit-border-radius: 37;
  	-moz-border-radius: 37;
  	border-radius: 37px;
  	font-family: Arial;
  	color: #ffffff;
  	font-size: 20px;
  	background: #d93f34;
  	padding: 10px 20px 10px 20px;
  	text-decoration: none;
    text-align: center;
    vertical-align: center;
    margin-left: 350px;
}

.one:hover {
  	background: #fcdc3c;
  	text-decoration: none;
}

hr {
    display: block;
    height: 15px;
    border: 0;
    font-weight: 5em;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;

.left {
    display: inline-block;
    vertical-align: left;
    line-height: 35px;
    position: absolute;
    text-align left;
    list-style-position: outside;
    margin: 0 1.5em 0 1.5em;
    padding-bottom: 20px;
}

navbar.right {
    vertical-align: right;
    float: right;
    position: absolute;


navbar#1 {
  position: absolute;
  vertical-align: left;
}

navbar#2 {
  position: absolute;
  vertical-align: right;
}

.stupid {
    text-align: center;
}

.smaller {
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #d93f34;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
}
