body  {
  background: url('images/Moneybackground.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  font-color: black;
}



.overview {
  text-align: justify;
  font-size: 12;
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px 400px 0 400px;
  vertical-align: center;
  float: center;
  position: absolute;
  padding-top: 2x;
  padding-bottom: 10px;
  background-color: tan;

}

#prod {
  background-color: lightskyblue;
}

.navbar-nav > li{
  margin-left:0px;
  margin-right:0px;
  margin-top: 0px;
  margin-bottom: -20px;
  line-height: -1em;
  display: inline-block;
  text-align: right;
}

h1 {
  text-align: center;
}


.test {
    width: 925px;
    font-size: 18;
    padding-left: 5px;
    padding-right: 5px;
    border: 5px solid navy;
    margin: 25px;
    background-color: tan;
    text-align: justify;
    position: relative;
    margin-left: 150px;
    margin-right: 1300px;
    margin-bottom: center;
    margin-top: center;
}

.tests {
    width: 925px;
    font-size: 18;
    padding-left: 5px;
    padding-right: 5px;
    border: 5px solid navy;
    margin: 25px;
    background-color: #67BCD8;
    text-align: justify;
    position: relative;
    margin-left: 150px;
    margin-right: 1300px;
    margin-bottom: center;
    margin-top: center;
}

.testy {
    width: 925px;
    font-size: 18;
    padding-left: 5px;
    padding-right: 5px;
    border: 5px solid navy;
    margin: 25px;
    background-color: lightgrey;
    text-align: justify;
    position: relative;
    margin-left: 150px;
    margin-right: 1300px;
    margin-bottom: center;
    margin-top: center;
}

nav {
height: 87px;
width:100%;
padding: 0px;
padding-top: 0px;
padding-bottom: 20px;
line-height: 0;
margin-top: 0px;
margin-bottom: 600px;
background-color: red;

}

h1.except {
  text-align: center;
  font-size: 14;
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 400px 0 400px;
  vertical-align: center;
  float: center;
  position: fixed;
}

p {
  font-size: 12;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.first {
	position: fixed;
	right: 10px;
	top: center;
  bottom: 300px;
	-webkit-border-radius: 25;
  	-moz-border-radius: 25;
  	border-radius: 37px;
  	font-family: Arial;
  	color: #ffffff;
  	font-size: 20px;
  	background: #d93f34;
  	padding: 10px 20px 10px 50px;
  	text-decoration: none;
}

.first:hover {
  	background: #fcdc3c;
  	text-decoration: none;
}

.one {
	-webkit-border-radius: 37;
  	-moz-border-radius: 37;
  	border-radius: 37px;
  	font-family: Arial;
  	color: #ffffff;
  	font-size: 20px;
  	background: #d93f34;
  	padding: 10px 20px 10px 20px;
  	text-decoration: none;
    text-align: center;
    vertical-align: center;
    margin-left: 350px;
}

.one:hover {
  	background: #fcdc3c;
  	text-decoration: none;
}

hr {
    display: block;
    height: 15px;
    border: 0;
    font-weight: 5em;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;

.left {
    display: inline-block;
    vertical-align: left;
    line-height: 35px;
    position: absolute;
    text-align left;
    list-style-position: outside;
    margin: 0 1.5em 0 1.5em;
    padding-bottom: 20px;
}

navbar.right {
    vertical-align: right;
    float: right;
    position: absolute;


navbar#1 {
  position: absolute;
  vertical-align: left;
}

navbar#2 {
  position: absolute;
  vertical-align: right;
}

.stupid {
    text-align: center;
}

.smaller {
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #d93f34;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
}
