body {
	background-color: CC9360;
}

p {
  font-size: 14;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.first {
	position: fixed;
	right: 10px;
	top: center;
  bottom: 300px;
	-webkit-border-radius: 25;
  	-moz-border-radius: 25;
  	border-radius: 37px;
  	font-family: Arial;
  	color: #ffffff;
  	font-size: 20px;
  	background: #d93f34;
  	padding: 10px 20px 10px 50px;
  	text-decoration: none;
}

.first:hover {
  	background: #fcdc3c;
  	text-decoration: none;
}

.one {
	-webkit-border-radius: 37;
  	-moz-border-radius: 37;
  	border-radius: 37px;
  	font-family: Arial;
  	color: #ffffff;
  	font-size: 20px;
  	background: #d93f34;
  	padding: 10px 20px 10px 20px;
  	text-decoration: none;
}

.one:hover {
  	background: #fcdc3c;
  	text-decoration: none;
}

hr {
    display: block;
    height: 15px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;

.left {
    display: inline-block;
    vertical-align: left;
    line-height: 35px;
    position: relative;
    text-align left;
    list-style-position: outside;
    margin: 0 1.5em 0 1.5em;
    padding-bottom: 20px;
}

navbar.right {
    vertical-align: right;
    float: right;

}
